---
import type { WorkData } from '../data/work-data';

type Props = {
    data: WorkData;
};
const { data } = Astro.props;
---

<a href={data.link} target="_blank">
    <div class="text-black bg-white border rounded-lg p-1 shadow-sm min-w-[16rem] mb-2 opacity-0 animate-fade-in">
        <div class="relative">
            <div class="rounded overflow-hidden border mb-1 flex justify-center">
                <div
                    class="absolute w-full h-full bg-transparent hover:bg-slate-100 hover:bg-opacity-80 transition-all duration-500 z-10 group flex justify-center items-center"
                >
                    <p class="text-sm opacity-0 group-hover:opacity-100 transition-all duration-500 text-slate-600 text-center px-8">
                        {data.description}
                    </p>
                </div>
                {data.video ? <video src={data.video} playsinline autoplay muted loop class="z-0" /> : <img src={data.image} alt={data.title} class="z-0" />}
            </div>
            <div
                class={`rounded w-[calc(100%-2px)] flex justify-between items-center p-4 py-5 mb-[1px] ml-[1px] absolute bottom-0 text-xs bg-gradient-to-t ${
                    data.dark ? 'from-slate-800' : 'from-white'
                } to-transparent`}
            >
                <h3 class={data.dark ? 'text-white' : 'text-current'}>
                    {data.title}
                </h3>
                <p class={data.dark ? 'text-slate-100' : 'text-slate-600'}>
                    {data.date}
                </p>
            </div>
        </div>
        <div
            class="flex justify-center items-center bg-slate-100 text-slate-800 text-base rounded px-2 py-1 text-center transition-colors duration-500 hover:bg-slate-200"
        >
            {data.linkText}
            <span class="text-md pl-1">↗</span>
        </div>
    </div>
</a>
